**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/azds.yaml
**/charts
**/bin
**/obj
**/logs
**/Dockerfile
**/Dockerfile.develop
**/docker-compose.yml
**/docker-compose.*.yml
**/*.dbmdl
**/*.jfm
**/secrets.dev.yaml
**/values.dev.yaml
**/.toolstarget
**/wwwroot
**/.idea
**/docker-compose*
**/.ethash

*/[Bb]in
*/[Oo]bj
*/[Oo]ut
*/[Bb]uild
*/[Ll]ogs
*/[Dd]ebug
*/[Rr]elease
*/[Pp]ackages