name: "web-app"

services:
  web_api:
    image: docker.io/drimdev/cors-lab-web-app:v1
    pull_policy: always
    restart: always
    environment:
      ASPNETCORE_URLS: http://+:80
    ports:
    - "80:80"
